.masthead {
    margin-left: auto;
    margin-right: auto;
    padding: 12px;
    width: 40%;
    background-color: none;
    margin-bottom: 3%;
}

.masthead {
    min-width: 340px;
    max-width: 430px;
}

#container1 h3 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 3em;
    font-weight: bold;
}

#container1 p {
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.card {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.card {
    max-width: 700px;
    margin-bottom: 1%;
}

.card-body{
    border: solid 2px black;
    border-radius: 5px;
    background-color: white;
    padding: 15px;
}

.btn {
    margin-top: 10px;
    font-size: 18px;
}

.btn-back {
    margin-left: -20px;
}
.btn-submit {
    text-align: center;
    margin: auto;
}

.alert {
    text-align: center;
    font-size: 20px;
    color: green;
}

.h6 {
    text-align: right;
    margin-bottom:5px;
}

.h5 {
    margin-bottom:5px;
}

.h4 {
    margin-bottom: 15px;
    text-align: center;
}

.h1 {
    margin-bottom: 10px;
}

.comment-date {
    float: right;
}

.title-text {
    font-weight: 900;

}

.post-title {
    padding: 15px;
}

.card-text{

    padding: 15px;
}

.post-date {
    margin-bottom: 1%;
    text-align: right;
    font-size: 18px;
}

.posted-by {
    text-align: center;
    font-size: 18px;
}

input {
    display: block;
    margin: auto;
    width: 85%;
    height: 25px;
    margin-top: 4px;
}

textarea {
    display: block;
    margin: auto;
    width: 85%;
    height: 50px;
    margin-top: 4px;
}



@media screen and (max-width: 1000px) {

.card {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
}

@media screen and (max-width: 700px) {

.card {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}
}