{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}
{% block content %}


<html lang="en">
<head>
<link href="{% static 'css/crypto-blog.css' %}" rel="stylesheet" type="text/css">
<style>
img {
        display: block;
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px
    }
.h3 {
    text-align: center;
}

#cke_id_content {
    width: 600px;
}

.django-ckeditor-widget {
    margin-bottom: 15px;
    width: 50%;
}



</style>
</head>
<body>
{% if user.is_authenticated %}
<h1 class="crypto-title">Create your post</h1>
<div class="col-md-8 mt-3 left">
    <div class="card mb-4">
        <div class="card-body">
            <div class="form-group">
                <form method="post">
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form.as_p }}
                    <div class="btn-submit">
                        <button class="btn" type="submit">Submit</button>
                    </div>
                </form>
            </div>
            <a class="btn  btn-back" href="{% url 'blog_home' %}">&Leftarrow;Back</a>
        </div>
    </div>
</div>
<script>
    var name = "{{ user.id }}";
    document.getElementById('author-user').value = name;
</script>
{% else %}
<h1 class="h3">You have to log-in to add posts</h1>
<img src="{% static 'img/not-allowed.png' %}" alt="">
</body>
{% endif %}
</html>


{% endblock content %}