{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}
{% block content %}


<html lang="en">
<head>
    <link href="{% static 'css/crypto-blog.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<h1 class="crypto-title">Delete post</h1>

<div class="col-md-8 mt-3 left">
    <div class="card mb-4">
        <div class="card-body">
            <h3>Delete "{{ post.title }}"</h3><br>
            <div class="form-group">
            <form method="post" >
                {% csrf_token %}
                <strong>Are you sure? </strong>
                <div class="btn-submit">
                        <button class="btn" type="submit">Delete</button>
                </div>
            </form>
            </div>
            <a class="btn  btn-back" href="{% url 'blog_home' %}">&Leftarrow;Back</a>
        </div>
    </div>
</div>

</body>
</html>


{% endblock content %}