{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}
{% block content %}

<head>
    <link href="{% static 'css/crypto-blog.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
{% if new_comment %}
                <div class="text-align">
                    <div class="alert alert-success" role="alert" style="color:LawnGreen">
                        Comment posted
                    </div>
                    <a class="btn" id="btn-comment-back" href="{% url 'blog_home' %}">&Leftarrow;Back</a>
                </div>
{% else %}
{% endif %}
<div class="container2">
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 left  top">
            <h1 class="post-title">{% block title %} {{ post.title }} {% endblock title %}</h1>
            <div class="card-body">
                <p class="post-date">{{ post.created_on }}</p>
                <p class="card-text ">{{ post.content|safe }}</p>
                <h4 class="posted-by">by {{ post.author }}</h4>
                <div class="justify">
                <a class="btn  btn-back" href="{% url 'blog_home' %}">&Leftarrow;Back</a>

                {% if user.is_authenticated %}
                    {% if user.id == post.author.id %}
                <a class="btn  btn-back  btn-update" href="{% url 'update_post' post.pk %}">Edit</a>
                <a class="btn  btn-back  btn-delete" href="{% url 'delete_post' post.pk %}">Delete</a>
                    {% endif %}
                {% endif %}

                </div>
            </div>
        </div>

        <div class="card-body card">
            <div id="comment-section">
                {% if new_comment %}
                {% else %}
                <h3 class="title-text">Leave a comment</h3>
                <form method="post">
                    {% csrf_token %}
                    {{ comment_form.as_p }}
                    <div class="btn-submit">
                        <button class="btn" type="submit">Comment</button>
                    </div>
                </form>
                {% endif %}
                <h2 id="comments">{{ comments.count }} comments</h2>
                <ul>
                    {% for comment in comments %}
                    <li>
                        <div class="comments" style="padding: 10px;">
                            <h4 class="comment-name">
                                {{ comment.name }}
                                <span class="comment-date">
                                  {{ comment.created_on }}
                                </span>
                            </h4>
                            {{ comment.body | linebreaks }}<br>
                            <hr>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock content %}

